<div class="col-lg-4 offset-lg-4">
    <div class="card card-container">
      <p >{{errorMessage | translate}}</p>
              <div class="card">
                <!-- <youtube-player class="card-img-top"
                    [videoId]= "videos[1].videoId"
                    [suggestedQuality]="'default'"
                    [playerVars]="playerVars" 
                    [height]="350"
                    [width]="600"
                    [startSeconds]="0"
                    [endSeconds]="30" 
                    >
                </youtube-player> -->
                <!-- <video autoplay playsinline muted loop 
                src="assets/hfjellb.mp4" 
                style="width: 200px; height: 200px; margin: 0px;">
                  <source type="video/mp4" src="assets/hfjellb.mp4">
                  <source type="video/webm" src="assets/hfjellb.mp4">
                </video> --> 
                <div class="card-body">
                  <img src="assets/hovdlogin.jpg" class="profile-img-card mx-auto img-fluid rounded">
                  <p class="card-text"></p>
                </div>
              </div>  
      <form
        *ngIf="!isLoggedIn"
        name="form"

        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">{{'LCusername' | translate}}</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="6"
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            <div *ngIf="username.errors.required">{{'LCuserRequired' | translate}}</div>
            <div *ngIf="username.errors.minlength">{{'LCuserMinChar' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{'LCpass' | translate}}</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">{{'LCpassRequired' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'LCpassMinChar' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="f.form.valid && onSubmit()" >
            {{'ToolbarLogin' | translate}}
          </button>
        </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="onLDAPSubmit()">{{ 'PCsubmit' | translate}}</button>
        </mat-action-row>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            {{'LCloginFailed' | translate}}{{ errorMessage | translate }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        {{'LCloggedInAs' | translate}}{{ role }}.
      </div>
      <div class="alert alert-danger"role="alert">
        {{ errorMessage }}
      </div>
    

      <mat-divider></mat-divider>
      <!-- <button mat-button class="menu-button" (click)="vippsLogin()">
        <img src="assets/log_in_with_vipps_rect_210_NO.png">
      </button> -->
    </div>
  </div>
  
