@use '@angular/material' as mat;
@import '~bootstrap-css-only/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~highlight.js/styles/github.css';
@import '~flatpickr/dist/flatpickr.css';
@import '../angular-calendar/src/angular-calendar.scss';
@import "../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

@include mat.core();

// Define a custom dark theme #unused!
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$blue-grey-palette),
   accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the dark theme by default
//core-theme emits theme-dependent styles for common features used across multiple components, like ripples
//@include mat.core-theme($dark-theme);
//we need to add (Angular material) component related styles. We are only going to use MatButton, so we will add button-theme
//@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
//@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
 //@include mat.core-color($light-theme);
 //@include mat.button-color($light-theme);
//}
  
  @import '../angular-calendar/src/angular-calendar.scss';
  
    .dark-theme {
      @include mat.all-component-themes($dark-theme);

      // First define some global color variables for your app, these are just for the demo, they can be anything you like
      $bg-dark-primary: #1f262d;
      $bg-dark-secondary: #394046;
      $bg-active: #2c343a;
      $text-color: #d5d6d7;
      $border-color: rgb(0 0 0 / 60%);
    
      // Call the calendar mixin with a sass color map of your theme. Every property is optional.
      // For a list of all variables and how they are used,
      // see https://github.com/mattlewis92/angular-calendar/tree/main/projects/angular-calendar/src/variables.scss
      @include cal-theme(
        (
          bg-primary: $bg-dark-primary,
          bg-secondary: $bg-dark-secondary,
          weekend-color: indianred,
          bg-active: $bg-active,
          border-color: $border-color,
          gray: $bg-dark-secondary,
          today-bg: $bg-dark-secondary,
          event-color-primary: $bg-dark-secondary,
        )
      );
    
      // How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
      .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
        opacity: 0.15;
      }
    
      // Everything else below is just themes the demo, it's probably not relevant to your app
      background-color: $bg-dark-primary;
      color: $text-color;
    
      .card {
        border-color: $border-color;
      }
    
      .card-header {
        background-color: $bg-dark-secondary;
      }
    
      .card-body {
        background-color: $bg-dark-primary;
      }
    
      .nav-tabs {
        border-bottom-color: $border-color;
      }
    
      .nav-tabs .nav-link.active {
        background-color: $bg-dark-primary;
        color: $text-color;
        border-color: $border-color;
      }
    
      .nav-tabs .nav-link:hover,
      .nav-tabs .nav-link:focus {
        border-color: $border-color;
      }
  
      //light theme navbar modified dark background
      *:not(mat-icon){
        font-family: 'HKGrotesk medium';
      }
    
      mat-toolbar {
        font-family: "HKGrotesk Bold" !important;
        color: $bg-dark-primary;
        background: rgb(255, 81, 81);
        display: flex;
        justify-content: flex-start;  
      }
    
      .left-spacer {
        flex-grow: 2;
      }
    
      .lang-select{
        width: 3rem;
      }
      
      mat-sidenav {
        margin: 8px;
        width: 16em;
        background: $bg-dark-primary;
        border-right: none;
        border-radius: 5px;
        padding: 8px;
        text-align: center;
      }
      
      .content {
        height: calc(100vh - 65px);
        border-radius: 5px;
        // margin: 8px;
        margin-left: 16px;
        padding: 8px;
      
        overflow-y: auto;
      }
    
      .toolbar-button {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
      
        mat-icon {
          margin-right: 8px;
        }
      }
      
      mat-sidenav-container {
        height: calc(100vh - 65px);
      }
    
      mat-expansion-panel {
        background: $bg-dark-primary;
      }
      
      .menu-button {
        color: rgb(255, 81, 81) !important;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
      
        mat-icon {
          margin-right: 8px;
        }
      }
      
      .avatar {
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      
      .name {
        color: rgb(255, 81, 81) !important;
        margin-top: 8px;
        font-weight: normal;
      }
      
      .designation {
        color: rgb(255, 81, 81) !important;
        margin-top: 2px;
        font-size: 0.7rem;
      }
      
      mat-divider {
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: #abb8c3;
      }
    
      /* Structure table */
      table {
        width: 100%;
      }
    
      .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
      }
    
      .demo-table {
        width: 100%;
      }
    
      .demo-button-container {
        padding-bottom: 16px;
      }
    
      .demo-button + .demo-button {
        margin-left: 8px;
      }
    
      .hint-warn-color{
        color :orangered
      }
    }