@use '@angular/material' as mat;

@import '~bootstrap-css-only/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~highlight.js/styles/github.css';
@import '~flatpickr/dist/flatpickr.css';
@import '../angular-calendar/src/angular-calendar.scss';

@include mat.core();


// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$blue-grey-palette),
   accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($dark-theme);

// Apply the dark theme by default
//core-theme emits theme-dependent styles for common features used across multiple components, like ripples
//@include mat.core-theme($dark-theme);
//we need to add (Angular material) component related styles. We are only going to use MatButton, so we will add button-theme
//@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
 @include mat.core-color($light-theme);
 @include mat.button-color($light-theme);
}

@media (min-width: 768px) {
  body {
    overflow-y:visible;
  }
}

@font-face {
  font-family: "Open Sans"; 
  src: url("./assets/fonts/open_sans.woff2")
  format("woff2"); font-style: normal; font-weight: 300; font-stretch: 100%; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { 
  font-family: "HKGrotesk medium"; 
  src: url("./assets/fonts/HKGrotesk-Medium.woff") 
  format("woff"); font-style: normal; 
  font-weight: 500; }

@font-face { 
  font-family: "HK Grotesk SemiBold"; 
  src: url("./assets/fonts/HKGrotesk-SemiBold.woff") format("woff");
  font-style: normal; 
  font-weight: 600; }

@font-face { 
  font-family: "DM Serif Text Regular"; 
  src: url("./assets/fonts/DMSerifTextRegular.woff2") format("woff2");
  font-style: normal; font-weight: 400; 
  font-display: swap; 
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }  

@font-face { 
  font-family: "HKGrotesk Bold";
  src: url("./assets/fonts/HKGrotesk-Bold.woff") format("woff"); 
  font-style: normal; 
  font-weight: 700; }  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

