<p>Kjære {{ user.user_name }},</p>                                        
<p>For å bekrefte ny epost, trykk på lenken <a href="{{ url_for('auth_bp.change_email', token=token, _external=True) }}">trykk her</a>.</p>
<p>Som alternativ kopier den følgende lenken og lim inn i url adresse feltet i browseren din:</p>
<p>{{ url_for('auth_bp.change_email', token=token, _external=True) }}</p>
<p>Hvis du ikke har bedt om en tilbakestilling av e-post, kan du se bort fra denne meldingen.</p>
<p>MVH,</p>
<p>HNF</p>
<p><small>Melding: automatisk svar.</small></p>

