<table mat-table [dataSource]="dataSourceEx" matSort class="mat-elevation-z8">
    <!-- Position Column -->
      <ng-container matColumnDef="user_email">
        <th mat-header-cell *matHeaderCellDef>  {{'BAuserEmail' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.user_email}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="ou">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'BAorgUnit' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.ou}} </td>
      </ng-container>

      <ng-container matColumnDef="bookname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'PAbookname' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.bookname}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'PAamount' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="is_consumed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{'PAisConsumed' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{ element.is_consumed}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the selection </td>
      </tr>
</table>
