<!-- <div class="row mb-4">
  <div class="col-lg-10 d-flex flex-row bp-10 bg-success text-white">
    <h2 class="mx-auto display-1 block text-center">Hovden </h2>
  </div>
</div>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <div class="container-fluid">
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <ng-container *ngIf="!isLoggedIn">
                    <li class="nav-item"><a class="nav-link" href="" routerLink="/login/">Log in</a></li>
                    <li class="nav-item"><a class="nav-link" href="" routerLink="/register">Register</a></li>
                </ng-container>
                <ng-container *ngIf="isLoggedIn">
                    <li class="nav-item"><a class="nav-link" href="">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="" (click)="logout()">Log out</a></li>
                </ng-container>
            </ul>
          </div>
      </div>
</nav>
<div class="container-fluid"> 
  <router-outlet></router-outlet>
</div> -->

<div class="row mb-4">
  <div class="col-lg-12 d-flex flex-row bp-10 bg-success text-white">
    <h2 class="mx-auto display-1 block text-center">{{ 'MainTitle' | translate}} </h2>
  </div>
</div>

<mat-toolbar class="mat-elevation-z8" *ngIf="(tokenStorage.authenticated$ | async) ===true; else loggedOutToolbarTempl">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button> 
  {{'ToolbarTitle' | translate}}
  <span class="left-spacer"></span>
  <span class="left-spacer"></span>
  <flag [code]="translate.currentLang ? translate.currentLang : translate.getDefaultLang()" 
          [size]="'md'"  [effect]="'app'" style="margin-right: 0.5em;"></flag>
    <mat-select class="lang-select"
        [value]="translate.currentLang ? translate.currentLang : translate.getDefaultLang()"
        #selectedLang 
        (selectionChange)="switchLang(selectedLang.value)">
      <mat-option *ngFor="let language of translate.getLangs()" 
        [value]="language">
        {{ (language==='gb' ? 'en' : language) }}
      </mat-option>
    </mat-select>
</mat-toolbar>

<ng-template #loggedOutToolbarTempl>
  <mat-toolbar class="mat-elevation-z8">
    <span class="left-spacer"></span>
    <span class="left-spacer"></span>
    <button mat-button class="menu-button link link.dark-blue-gradient-bg" routerLink="/login">
      <mat-icon>login</mat-icon>
      <span>{{'ToolbarLogin' | translate}}</span>
    </button>
    <button mat-button class="menu-button" routerLink="/register">
      <mat-icon>app_registration</mat-icon>
      <span>{{'ToolbarRegister' | translate}}</span>
    </button>
    <flag [code]="translate.currentLang ? translate.currentLang : translate.getDefaultLang()" 
          [size]="'md'"  [effect]="'app'" style="margin-right: 0.5em;"></flag>
    <mat-select class="lang-select"
        [value]="translate.currentLang ? translate.currentLang : translate.getDefaultLang()"
        #selectedLang 
        (selectionChange)="switchLang(selectedLang.value)">
      <mat-option *ngFor="let language of translate.getLangs()" 
        [value]="language">
        {{ language==='gb' ? 'en' : language }}
      </mat-option>
    </mat-select>
  </mat-toolbar>
</ng-template>

<mat-sidenav-container>
    <mat-sidenav  #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="assets/ufo.jpg"
      />
          <h4 class="name">{{tokenStorage.getUser().user_email}}</h4>
          <p class="designation">{{tokenStorage.getUser().is_admin ? "admin" : "user"}}</p>
          <mat-divider></mat-divider>
      <mat-nav-list dense>
        <mat-list-item *ngIf="!tokenStorage.getUser().is_admin; else adminCalendarView">
          <button mat-button class="menu-button" routerLink="/calendar">
            <mat-icon>calendar_month</mat-icon>
            <span>{{'SideNavCalendar' | translate}}</span>
          </button>
        </mat-list-item>
        <ng-template #adminCalendarView>
            <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
              <mat-expansion-panel-header [style.padding-left]="0">
                <button mat-button class="menu-button" routerLink="/calendar">
                  <mat-icon>calendar_month</mat-icon>
                  <span>{{'SideNavCalendar' | translate}}</span>
                </button>
              </mat-expansion-panel-header>
              <mat-nav-list dense>
                  <mat-list-item [style.padding-left]="0" [style.padding-right]="0" (click)="editEvents()">
                    <button   mat-button class="menu-button" >
                      <mat-icon>edit_calendar</mat-icon>
                      <span>{{'SideNavEditEvents' | translate}}</span>
                    </button>
                  </mat-list-item>
                  <mat-list-item [style.padding-left]="0" [style.padding-right]="0" (click)="editRooms()">
                    <button mat-button class="menu-button" >
                      <mat-icon>tune</mat-icon>
                      <span>{{'SideNavEditRooms' | translate}}</span>
                    </button>
                  </mat-list-item>
              </mat-nav-list>    
            </mat-expansion-panel>
        </ng-template>
        
        <mat-list-item [style.padding-left]="0">
          <button mat-button class="menu-button" routerLink="/profile">
            <mat-icon>account_box</mat-icon>
            <span>{{'SideNavProfile' | translate}}</span>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{'SideNavLogout' | translate}}</span>
      </button>
    </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
