<div class="row mb-4">
    <div class="col-lg-12 d-flex flex-row bp-10 bg-light">
      <h2 class="mx-auto display-1 block text-left" [style.color]="'orange'">Bykle Breiband </h2>
    </div>
</div>

<mat-toolbar class="mat-elevation-z8" *ngIf="(tokenStorage.authenticated$ | async) ===true; else loggedOutToolbarTempl">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button> 
    
    <span class="left-spacer"></span>
    <span class="left-spacer"></span>
  </mat-toolbar>
  
  <ng-template #loggedOutToolbarTempl>
    <mat-toolbar class="mat-elevation-z8">
      <button mat-button class="menu-button" routerLink="/bb/hjem">Hjem</button>
      <button mat-button [matMenuTriggerFor]="bestill_fiber">Bestill fiber</button>
      <mat-menu #bestill_fiber="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="abon_type">Abonnement fastbuande</button>
        <button mat-menu-item [matMenuTriggerFor]="abon_type">Abonnement hytte</button>
      </mat-menu>
      <mat-menu #abon_type >
        <button mat-menu-item>Ikkje tilkobla fiber</button>
        <button mat-menu-item>Tilkobla fiber</button>
      </mat-menu>
      <button mat-button class="menu-button link link.dark-blue-gradient-bg" routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>LOGG INN</span>
      </button>
      <button mat-button class="menu-button" routerLink="/register">
        <mat-icon>app_registration</mat-icon>
        <span>BLI KUNDE</span>
      </button>
      
    </mat-toolbar>
  </ng-template>

  <mat-sidenav-container>
    <mat-sidenav  #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="assets/ufo.jpg"
      />
          <h4 class="name">{{tokenStorage.getUser().user_email}}</h4>
          <p class="designation">{{tokenStorage.getUser().is_admin ? "admin" : "user"}}</p>
          <mat-divider></mat-divider>
      <mat-nav-list dense>
        <ng-container *ngIf="!tokenStorage.getUser().is_admin; then userCalendarView else adminCalendarView">
        </ng-container>
        <ng-template #userCalendarView>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header [style.padding-left]="0">
              <button mat-button class="menu-button" routerLink="/calendar">
                <mat-icon>calendar_month</mat-icon>
                <span>Kalender</span>
              </button>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <mat-list-item [style.padding-left]="0" [style.padding-right]="0" (click)="editOuEvents()">
                <button   mat-button class="menu-button" >
                  <mat-icon>edit_calendar</mat-icon>
                  <span>Rediger events</span>
                </button>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-template>    
        <ng-template #adminCalendarView>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header [style.padding-left]="0">
              <button mat-button class="menu-button" routerLink="/calendar">
                <mat-icon>calendar_month</mat-icon>
                <span>Kalendar</span>
              </button>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
                <mat-list-item [style.padding-left]="0" [style.padding-right]="0" (click)="editEvents()">
                  <button   mat-button class="menu-button" >
                    <mat-icon>edit_calendar</mat-icon>
                    <span>Rediger events</span>
                  </button>
                </mat-list-item>
                <mat-list-item [style.padding-left]="0" [style.padding-right]="0" (click)="editRooms()">
                  <button mat-button class="menu-button" >
                    <mat-icon>tune</mat-icon>
                    <span>Rediger rom</span>
                  </button>
                </mat-list-item>
            </mat-nav-list> 
          </mat-expansion-panel>   
            
        </ng-template>
        
        <mat-list-item [style.padding-left]="0" routerLink="/profile">
          <button mat-button class="menu-button">
            <mat-icon>account_box</mat-icon>
            <span>Bruker profil</span>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logg ut</span>
      </button>
    </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>  
