<div class="container">
  <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <ng-container class="d-flex justify-content-center"
         *ngIf="(isSendingRegister | async) === true; then spinnerTempl else imgTempl">
        </ng-container>
          <ng-template #imgTempl>        
            <div class="d-flex justify-content-center">
                <img
                  id="profile-img"
                  src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                  class="profile-img-card mx-auto rounded"
                  [style.max-width]="'400px'"
                  >
            </div>
          </ng-template>
          <ng-template #spinnerTempl>
            <div class="d-flex justify-content-center">
              <mat-spinner 
              [mode]="'indeterminate'"
              [color]="color"></mat-spinner>
            </div>
          </ng-template>
          <div class="d-flex justify-content-center">
              <form
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
              >
                <div class="form-group">
                  <label for="email">{{'RCemail' | translate}}</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                  />
                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors?.required">
                      {{'RCemailRequired' | translate}}
                    </div>
                    <div *ngIf="email.errors.email">
                      {{'RCemailValid' | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">{{'RCpass' | translate}}</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    #password="ngModel"
                  />
                  <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors?.required">
                      {{'LCpassRequired' | translate}}
                    </div>
                    <div *ngIf="password.errors?.minlength">
                      {{'LCpassMinChar' | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="orgunit">{{'RCorgUnit' | translate}}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="orgunit"
                    [(ngModel)]="form.orgunit"
                    
                    minlength="3"
                    #orgunit="ngModel"
                  />
                  <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="orgunit.errors?.minlength">
                      {{'RCorgRequired' | translate}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">{{'RCsignup' | translate}}</button>
                </div>
          
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  {{'RCsignupFailed' | translate }}<br />{{ errorMessage }}
                </div>
            </form>
          </div>  
          <div class="alert alert-success" *ngIf="isSuccessful">
            {{'RCalertSuccess' | translate:param }}
          </div>

      </div>
    </div>
  </div>
  
