
<div class="col-lg-8 offset-lg-2">
  
    <mat-card class="rounded">
      <!-- <img class="img-rounded profile-thumbnail" src="assets/ufo.jpg"> -->
      <mat-card-content class="profile-header">
          <mat-accordion class="example-headers-align" multi>
            <div class="p-5 text-dark rounded" [style.background-color]="'#f8f9fa'">
              <h1>{{'PCuser' | translate }} : {{ user.user_email }}</h1>
              <p *ngIf="user.user_email">
              <br>
                      {{'PCfrom' | translate}}<a class="text-dark" href="http://maps.google.com/?q=">{{'PClocation' | translate}}</a><br>
              </p>
              <p *ngIf="user.is_admin"><a class="text-dark" href="mailto:{{ user.user_email }}">{{ user.user_email }}</a></p>
              <p>{{'PClastSeen' | translate }}{{ user.last_seen ? (user.last_seen | date:'short') : "" }}.</p>
              <p class="text-danger"><b>{{serviceMsg$ | async}}</b></p>
            </div>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'PCchangeEmail' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{ 'PCchangeEmailDescr' | translate}}
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form [formGroup]="changeEmailFG">
                <mat-form-field appearance="fill">
                  <mat-label>{{'PCnewEmail' |translate}}</mat-label>
                  <input matInput formControlName="email" type="email" [errorStateMatcher]="matcher"
                  (keydown.enter)="changeEmail(changeEmailFG.value.email,changeEmailFG.value.pass)">
                  <mat-error *ngIf="changeEmailFG.controls.email.errors?.['email']">
                    {{ 'PCemailTooshort' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>{{'PColdPass' |translate}}</mat-label>
                  <input matInput formControlName="pass" type="password" [errorStateMatcher]="matcher"
                  (keydown.enter)="changeEmail(changeEmailFG.value.email,changeEmailFG.value.pass)">
                    <mat-error *ngIf="changeEmailFG.controls.pass.errors?.['minlength']">
                    {{'LCpassMinChar' | translate}}
                    </mat-error>
                    <mat-error *ngIf="changeEmailFG.controls.pass.errors?.['required']">
                    {{'LCpassRequired' | translate }}
                    </mat-error>
                </mat-form-field>
              </form>

              <mat-action-row>
                <button mat-button color="primary" (click)="changeEmail(changeEmailFG.value.email,changeEmailFG.value.pass)">{{ 'PCsubmit' | translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>
        
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'PCchangePass' |translate}}
                </mat-panel-title>
                <mat-panel-description>
                  {{'PCchangePassDescr' | translate}}
                  <mat-icon>password</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <form [formGroup]="changePassFG">
                <mat-form-field appearance="fill">
                  <mat-label>{{'PCemail' |translate}}</mat-label>
                  <input matInput formControlName="email" type="email"
                  (keydown.enter)="changePass(changePassFG.value.email)">
                    <mat-error *ngIf="changePassFG.controls.email.errors?.['minlength']">
                    {{'PCemailTooshort' | translate}}
                    </mat-error>
                    <mat-error *ngIf="changePassFG.controls.email.errors?.['required']">
                      {{ 'LCpassRequired' | translate}}
                    </mat-error>
                    <mat-error *ngIf="changePassFG.controls.email.errors?.['email']">
                      {{ 'RCemailValid' | translate}}
                    </mat-error>
                </mat-form-field>
              </form>
              <mat-action-row>
                <button mat-button color="primary" (click)="changePass(changePassFG.value.email)">{{ 'PCsubmit' | translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
      </mat-card-content>
    </mat-card>
</div>
<!-- <div  *ngIf="false" class="row">
  <form class="col-lg-6"
        *ngIf="!isPassReset"
        name="passresetform"
        (ngSubmit)="passresform.form.valid && onSubmit()"
        #passresform="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="oldpassword">{{'PColdPass' | translate}}</label>
          <input
            type="password"
            class="form-control"
            name="oldpassword"
            [(ngModel)]="changepassmodel.oldpassword"
            required
            minlength="6"
            #oldpass="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="oldpass.errors && passresform.submitted"
          >
            <div *ngIf="oldpass.errors.required">{{'LCuserRequired' | translate}}</div>
            <div *ngIf="oldpass.errors.minlength">{{'LCuserMinChar' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newpassword">{{'PCnewPass' | translate}}</label>
          <input
            type="password"
            class="form-control"
            name="newpassword"
            [(ngModel)]="changepassmodel.newpassword"
            required
            minlength="6"
            #newpass="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="newpass.errors && passresform.submitted"
          >
            <div *ngIf="newpass.errors.required">{{'LCpassRequired' | translate}}</div>
            <div *ngIf="newpass.errors.minlength">{{'LCpassMinChar' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            {{'PCconfirm' | translate}}
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="passresform.submitted && isPassResetFailed"
          >
            {{'LCloginFailed' | translate}}{{ errorMessage }}
          </div>
        </div>
      </form>
</div> -->
  

