<ngb-carousel #ngcarousel
  [showNavigationArrows]="true" 
  [showNavigationIndicators]="true"
  [interval]="5000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'secondSlide'">
    <ng-template ngbSlide id="one">
      <div class="picsum-img-wrapper">
        <img src="assets/cowxfront.png" alt="Slide 1">
      </div>
      <div class="carousel-caption">
        <h3>FJELLBYEN HOVDEN</h3>
        <p>på toppen av Setesdal</p>
      </div>
    </ng-template>
    <ng-template ngbSlide id="two">
      <div class="picsum-img-wrapper">
        <img src="assets/hovdt-1.jpeg" alt="Slide 2">
      </div>
      <div class="carousel-caption">
        <h3>FJELLBYEN HOVDEN</h3>
        <p>på toppen av Setesdal</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="text-center" *ngIf="false">
    <button (click)="navigateToSlide('four')">Go to Slide Four</button>
    <button (click)="getToPrev()">Prev</button>
    <button (click)="goToNext()">Next</button>
    <button (click)="stopCarousel()">Pause</button>
  </div>
  <div class="row">
    <div class="col-lg-3 p-2"><img src="assets/Drop-In-225x300.jpg"></div>
    <div class="col-lg-3 p-2"><img src="assets/FLEX-4-225x300.jpg"></div>
    <div class="col-lg-3 p-2" ><img src="assets/DESK-1-225x300.jpg"></div>
    <div class="col-lg-3 p-2"><img src="assets/EGET-KONTOR-225x300.jpg"></div>
  </div>
  <mat-divider></mat-divider>
  <div class="row text-center">
    <p>WEBELTEK VELISLAV VELIKOV</p>
    <p>Orgnr: 915621791</p>
    <p>bitfrostdemo</p>
  </div>
  
