<div class="row mt-2">
    <div class="btn-toolbar" role="toolbar">
        <div  class="btn-group btn-group-sm mr-4" role="group">
            <div class="btn btn-outline-secondary d-flex align-items-center" mwlCalendarPreviousView
                (viewDateChange)="activeDayIsOpen=false" 
                [view]="view" [(viewDate)]="viewDate"
                [daysInWeek]="1">
                <mat-icon>arrow_back_ios</mat-icon>
            </div>
            <div class="btn btn-outline-secondary d-flex align-items-center" mwlCalendarToday
                (viewDateChange)="activeDayIsOpen=false" 
                [(viewDate)]="viewDate">
                {{'DCtoday' | translate}}
            </div>
            <div class="btn btn-outline-secondary d-flex align-items-center" mwlCalendarNextView
                (viewDateChange)="activeDayIsOpen=false" 
                [view]="view" [(viewDate)]="viewDate"
                [daysInWeek]="1">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>
        <div class="btn-group btn-group-sm mr-4" role="group">
                <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):(getLocaleFromTranslate(translate.currentLang)) :1 }}</h4>
        </div>
        <div class="btn-group btn-group-sm mr-4" role="group">
          <div
            class="btn btn-outline-secondary d-flex align-items-center"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            {{'DCmonth' | translate}}
          </div>
          <div
            class="btn btn-outline-secondary d-flex align-items-center"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week">
            {{'DCweek' | translate}}
          </div>
          <div
            class="btn btn-outline-secondary d-flex align-items-center"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day">
            {{'DCday' | translate}}
          </div>
        </div>
    </div>    
</div>
    <mat-chip-listbox class="mt-2" aria-label="Kontor selection"
        mwlDroppable
        (drop)="externalDrop($event.dropData.event)"
        dragOverClass="drag-over">
            <mat-chip-option
                *ngFor="let event of externalKontEvents"
                mwlDraggable 
                [style.color]="'warn'"
                [dropData]="{event: event}"
                [touchStartLongPress]="{ delay: 300, delta: 30 }"
                dragActiveClass="drag-active"
                (selectionChange)="onSelectionChange($event)"
            >
                {{event.title}} 
            </mat-chip-option>
    </mat-chip-listbox>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [weekStartsOn]=1
        [events]="kontEvents"
        [externalEvents]="externalKontEvents"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        [rooms]="rooms"
        [books]="books"
        [dayStartHour]="dayStartHour"
        [dayEndHour]="dayEndHour" 
        [loggedInUserId]="loggedInUserId" 
        [events]="kontEvents"
        (eventClicked)="openDialog($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (eventTimesChangedW)="eventTimesChanged($event)">
    </mwl-calendar-month-view>

    <ng-container 
    *ngSwitchCase="CalendarView.Week">
        <ng-container *ngIf="isMobLayout; then wideWeekTempl else wideWeekTempl">
        </ng-container>
    </ng-container>
    <ng-template #wideWeekTempl>
        <mwl-calendar-week-view  
            [locale]="locale"
            [isOpen]="true"
            [rooms]="rooms"
            [books]="books"
            [daysInWeek]="daysInWeek"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            [viewDate]="viewDate"
            [weekStartsOn]=1
            [loggedInUserId]="loggedInUserId" 
            [events]="kontEvents"
            [externalEvents]="externalKontEvents"
            [users]="users"
            (eventClicked)="openDialog($event)"
            [refresh]="refresh"
            [snapDraggedEvents]="false"
            (eventTimesChanged)="eventTimesChanged($event)"
            >
        </mwl-calendar-week-view>
    </ng-template>
    
    <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [dayStartHour]="dayStartHour"
        [dayEndHour]="dayEndHour"
        [events]="kontEvents"
        [externalEvents]="externalKontEvents"
        (eventClicked)="openDialog($event)"
        [refresh]="refresh"
        [snapDraggedEvents]="false"
        (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
    
</div>
